.post{
    margin: 1rem 0;
    padding: 0.5rem;
    /* background-color: #9c7eee; */
    background-color: thistle;
    /* border-radius: 8px; */
    border-radius:0 8px 0 8px;
    box-shadow: 0 2px 4px rgba(152, 22, 22, 0.4);
    animation: animate-in 1s ease-out forwards;
}
.frame{
    border: 1px solid rgba(200,110,20,0.9);
    padding: 0.5rem;
    border-radius: 4px;
}
.author{
    font-size: 0.8rem;
    font-weight: bold;
    /* color:#543280; */
    color: rgba(230,120,12,0.7);
    margin: 0;
    text-transform: uppercase;
    text-align: right;
    /* border: 2px solid black; */
}
.text{
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin:0.25rem 0 0 0;
    color:rgba(190,102,12,0.9);
    font-style: italic;
    text-wrap: balance;
    
}
@keyframes animate-in{
    from{
        opacity: 0;
        transform: translateY(1rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}