body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e6ddf9;
  /* background-color: rgba(210,108,12,0.5); */
  background: linear-gradient(45deg, #ff9a76, #ff3d00, #ffb347, #ff6347);
      background-size: 700% 700%; /* Set background size to enable movement */
      animation: diagonalSlide 7s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite; /* Apply animation */
}

   /* Keyframes for diagonal movement */
   @keyframes diagonalSlide {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
